src/main/plugin/iso19139.bfs/schema/bfs/bfs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://geonetwork.org/bfs" elementFormDefault="qualified" version="0.1"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd"
	xmlns:bfs="http://geonetwork.org/bfs" xmlns:gml="http://www.opengis.net/gml">

	<xs:import namespace="http://www.isotc211.org/2005/gco" schemaLocation="../gco/gco.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gts" schemaLocation="../gts/gts.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="../gmd/gmd.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/srv" schemaLocation="../srv/srv.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml" schemaLocation="../gml/gml.xsd"/>

	<!-- ================================= Annotation ================================ -->
	<xs:annotation>
		<xs:documentation>Modifications to add BFS extensions
			//TODO explain better
		</xs:documentation>
	</xs:annotation>


	<!-- ============================================================================== -->
	<!-- ================================ MD_Metadata ================================= -->
	<!-- ============================================================================== -->


	<xs:complexType name="MD_Metadata_Type">
		<xs:annotation>
			<xs:documentation>
				Extends the metadata element to include BFS layer description 
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmd:MD_Metadata_Type">
				<xs:sequence>
					<xs:element name="layerInformation" type="bfs:MD_Layer_PropertyType" />
				</xs:sequence>
				<xs:attribute ref="gco:isoType" use="required" fixed="gmd:MD_Metadata"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="MD_Metadata" substitutionGroup="gmd:MD_Metadata" type="bfs:MD_Metadata_Type"/>

	<xs:complexType name="MD_Metadata_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_Metadata"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>


	<!-- ============================================================================== -->
	<!-- ============================= LayerInformation =============================== -->
	<!-- ============================================================================== -->	
	<xs:complexType name="MD_Layer_Type">
		<xs:annotation>
			<xs:documentation>Information about the layer</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
			<xs:sequence>
				<xs:element name="inspireID" type="gco:CharacterString_PropertyType"/>				
				<xs:element name="layerType" type="bfs:MD_LayerType_PropertyType" />
				<xs:element ref="bfs:wfs" minOccurs="0" />
				<xs:element ref="bfs:download" minOccurs="0"/>
				<xs:element name="filter" type="bfs:MD_Filter_PropertyType" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="olProperty" type="bfs:MD_Property_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="timeSeriesChartProperty" type="bfs:MD_Property_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="barChartProperty" type="bfs:MD_Property_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>	
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Layer" type="bfs:MD_Layer_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Layer_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_Layer"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>

	<!-- ============================================================================== -->
	<!-- ===============================  LayerType =================================== -->
	<!-- ============================================================================== -->
	
	<!-- =========================================================================== -->
	<!-- ========================= Abstract LayerType ============================== -->
	<xs:complexType name="MD_LayerType_Type" abstract="true">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>		
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_LayerType" type="bfs:MD_LayerType_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_LayerType_PropertyType">
		<xs:sequence minOccurs="1">
			<xs:element ref="bfs:MD_LayerType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	<!-- =========================================================================== -->
	<!-- =================================== WMS =================================== -->
	<xs:complexType name="MD_VectorLayerType_Type">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_LayerType_Type">
				<xs:sequence>
					<xs:element ref="bfs:URL"/>    
					<xs:element name="format" type="gco:CharacterString_PropertyType"/>
					<xs:element name="params" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_VectorLayerType" type="bfs:MD_VectorLayerType_Type" substitutionGroup="bfs:MD_LayerType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_VectorLayerType_PropertyType">
		<xs:sequence minOccurs="1">
			<xs:element ref="bfs:MD_VectorLayerType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	<!-- =========================================================================== -->
	<!-- =================================== WMS =================================== -->
	<xs:complexType name="MD_WMSLayerType_Type">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_LayerType_Type">
				<xs:sequence>
					<xs:element ref="bfs:URL"/>		
					<xs:element name="layer" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="transparent" type="gco:Boolean_PropertyType"/>	
					<xs:element name="version" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="styles" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="format" type="gco:CharacterString_PropertyType"/>	
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_WMSLayerType" type="bfs:MD_WMSLayerType_Type" substitutionGroup="bfs:MD_LayerType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_WMSLayerType_PropertyType">
		<xs:sequence minOccurs="1">
			<xs:element ref="bfs:MD_WMSLayerType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
		
		
	<!-- =========================================================================== -->
	<!-- =================================== WMTS ================================== -->
	<xs:complexType name="MD_WMTSLayerType_Type">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_LayerType_Type">
				<xs:sequence>
					<xs:element ref="bfs:URL"/>		
					<xs:element name="layer" type="gco:CharacterString_PropertyType"/>
					<xs:element name="tilematrixset" type="gco:CharacterString_PropertyType"/>						
					<xs:element name="transparent" type="gco:Boolean_PropertyType"/>	
					<xs:element name="version" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="styles" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="format" type="gco:CharacterString_PropertyType"/>	
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_WMTSLayerType" type="bfs:MD_WMTSLayerType_Type" substitutionGroup="bfs:MD_LayerType"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_WMTSLayerType_PropertyType">
		<xs:sequence minOccurs="1">
			<xs:element ref="bfs:MD_WMTSLayerType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	<!-- =========================================================================== -->
	<!-- =================================== TMS =================================== -->
	<!--<xs:complexType name="TMSLayerType_Type">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:AbstractLayerType_Type">
				<xs:sequence>
					<xs:element ref="bfs:URL"/>		
					<xs:element name="layer" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="transparent" type="gco:Boolean_PropertyType"/>	
					<xs:element name="version" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="styles" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="format" type="gco:CharacterString_PropertyType"/>	
					<xs:element name="timeExtendStart" type="gco:DateTime_PropertyType"/>	
					<xs:element name="timeExtendEnd" type="gco:DateTime_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	<!-- ........................................................................ -->
	<!--<xs:element name="TMS" type="bfs:TMSLayerType_Type" substitutionGroup="bfs:AbstractLayerType"/>-->
	<!-- ........................................................................ -->
	
	
	<!-- ============================================================================== -->
	<!-- ==================================  URL ====================================== -->
	<!-- ============================================================================== -->

	<!-- ........................................................................ -->
	<xs:element name="URL" type="bfs:URL_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="URL_Type">
		<xs:sequence minOccurs="1" maxOccurs="1">
			<xs:element name="host" type="gco:CharacterString_PropertyType"/>
			<xs:element name="path" type="gco:CharacterString_PropertyType"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ============================================================================== -->
	<!-- ============================= OL Properties ====================================== -->
	<!-- ============================================================================== -->

	<!-- ================================== Classes ================================= -->
	<xs:complexType name="MD_Property_Type">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					<xs:element name="propertyName" type="gco:CharacterString_PropertyType"/>
					<xs:element name="propertyValue" type="gco:CharacterString_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Property" type="bfs:MD_Property_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Property_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_Property"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	<!-- ============================================================================== -->
	<!-- ============================= Filters ====================================== -->
	<!-- ============================================================================== -->


	<!-- =========================================================================== -->
	<!-- ========================= Abstract filter ================================= -->
	<xs:complexType name="MD_Filter_Type" abstract="true">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gco:AbstractObject_Type">
				<xs:sequence>
					
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>		
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_Filter" type="bfs:MD_Filter_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_Filter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_Filter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	<!-- =========================================================================== -->
	<!-- ========================= Multiple value filter ============================= -->
	<xs:complexType name="MD_ValueFilter_Type">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_Filter_Type">
				<xs:sequence>
					<xs:element name="paramName" type="gco:CharacterString_PropertyType"/>
					<xs:element name="paramAlias" type="gco:CharacterString_PropertyType"/>
					<xs:element name="defaultValue" type="gco:CharacterString_PropertyType"/>
					<xs:element name="allowedValues" type="gco:CharacterString_PropertyType"/>
					<xs:element name="operator" type="gco:CharacterString_PropertyType"/>
					<xs:element name="allowMultipleSelect" type="gco:Boolean_PropertyType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_ValueFilter" type="bfs:MD_ValueFilter_Type" substitutionGroup="bfs:MD_Filter"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_ValueFilter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_ValueFilter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	
	<!-- =========================================================================== -->
	<!-- =========================== GeoExtent filter ============================== -->
	<!--<xs:complexType name="MD_GeoExtentFilter_Type">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_Filter_Type">
				<xs:sequence>
					<xs:element name="paramName" type="gco:CharacterString_PropertyType"/>
					<xs:element name="geographicElement" type="gmd:EX_GeographicExtent_PropertyType" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>-->
	<!-- ........................................................................ -->
	<!--<xs:element name="MD_GeoExtentFilter" type="bfs:MD_GeoExtentFilter_Type" substitutionGroup="bfs:MD_Filter"/>-->
	<!-- ........................................................................ -->
	<!--<xs:complexType name="MD_GeoExtentFilter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_GeoExtentFilter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>-->
	
	<!-- =========================================================================== -->
	<!-- =========================== TimeRange filter ============================== -->
	<xs:complexType name="MD_TimeRangeFilter_Type">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_Filter_Type">
				<xs:sequence>
					<xs:element name="paramName" type="gco:CharacterString_PropertyType"/>
					<xs:element name="interval" type="gco:Integer_PropertyType" />
					<xs:element name="unit" type="gco:CharacterString_PropertyType"/>
					<xs:element name="maxDuration" type="gco:CharacterString_PropertyType" />
					<xs:element name="minDate" type="bfs:Date_Type" />
					<xs:element name="maxDate" type="bfs:Date_Type" />
					<xs:element name="defaultStartValue" type="bfs:Date_Type" />
					<xs:element name="defaultEndValue" type="bfs:Date_Type" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_TimeRangeFilter" type="bfs:MD_TimeRangeFilter_Type" substitutionGroup="bfs:MD_Filter"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_TimeRangeFilter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_TimeRangeFilter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
		
	<!-- =========================================================================== -->
	<!-- =========================== PointInTime filter ============================ -->
	<xs:complexType name="MD_PointInTimeFilter_Type">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_Filter_Type">
				<xs:sequence>
					<xs:element name="paramName" type="gco:CharacterString_PropertyType"/>
					<xs:element name="interval" type="gco:Integer_PropertyType" />
					<xs:element name="unit" type="gco:CharacterString_PropertyType"/>
					<xs:element name="minDate" type="bfs:Date_Type" />
					<xs:element name="maxDate" type="bfs:Date_Type" />
					<xs:element name="defaultValue" type="bfs:Date_Type" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_PointInTimeFilter" type="bfs:MD_PointInTimeFilter_Type" substitutionGroup="bfs:MD_Filter"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_PointInTimeFilter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_PointInTimeFilter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
		
	<!-- =========================================================================== -->
	<!-- ============================= RODOS filter ================================ -->
	<xs:complexType name="MD_RodosFilter_Type">
		<xs:annotation>
			<xs:documentation>.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="bfs:MD_Filter_Type">
				<xs:sequence>
					<xs:element name="paramName" type="gco:CharacterString_PropertyType"/>
					<xs:element ref="bfs:URL"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MD_RodosFilter" type="bfs:MD_RodosFilter_Type" substitutionGroup="bfs:MD_Filter"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MD_RodosFilter_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="bfs:MD_RodosFilter"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	
	<!-- ============================================================================== -->
	<!-- ============================= WFS ======================================= -->
	<!-- ============================================================================== -->
	
	<!-- ........................................................................ -->
	<xs:element name="wfs" type="bfs:WFS_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="WFS_Type">
		<xs:sequence>
			<xs:element ref="bfs:URL" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- ============================================================================== -->
	<!-- ============================= Download ======================================= -->
	<!-- ============================================================================== -->

	<!-- ........................................................................ -->
	<xs:element name="download" type="bfs:Download_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Download_Type">
		<xs:sequence>
			<xs:element ref="bfs:URL" minOccurs="0"/>
			<xs:element name="filterFieldStart" type="gco:CharacterString_PropertyType" minOccurs="0"/>
			<xs:element name="filterFieldEnd" type="gco:CharacterString_PropertyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- ============================================================================== -->
	<!-- ================================= Date ======================================= -->
	<!-- ============================================================================== -->
	
	<!-- ........................................................................ -->
	<xs:element name="Date" type="bfs:Date_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Date_Type">
		<xs:sequence>
			<xs:element name="TimeFormat" type="gco:CharacterString_PropertyType"/>
			<xs:element name="TimeInstant" type="gco:CharacterString_PropertyType"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
